* {box-sizing: border-box; }

body{
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

header{
	padding: 10px;
	background-color: #555;
	text-align: center;
	background-image: url(images/kww.png);
	background-repeat: repeat;
	background-attachment: fixed;
	background-size: 10%;


}

nav{
	display: flex;
	justify-content: space-around;
	background-color: #000000; 
	color: #ffffff;
	padding: 10px;
}

nav a:link { color: #ffffff; text-decoration:none; }
nav a:visited { color: #ffffff; }
nav a:hover { color:grey; }
nav a:active { color:grey; }

main{
	width: 80%;
	margin: 0 auto;
	flex: 1 0 auto;
	background-color: #888;
	justify-content: center;
}

footer{
	text-align: center;
	background-color: #555;
	color: #000000;
	padding: 10px;

}

#hero-image{
	background-image: url(images/hands.jpg);
	height: 300px;
	width: 100%;
	background-repeat: no-repeat;
	background-size: contain;
	background-attachment: fixed;

}

section{
	padding: 20px;

}

.flexSection{
	display: flex;
	justify-content: space-between;
}


.bike{
	border: 3px solid black;
	width: 33%;
	margin: 10px;
	text-align: center;
}

.container{
	padding: 2px 25px;
	text-align: center;

}

.youtube-video{
	aspect-ratio: 16 / 9;
	width: 100%;
}



.video-detail{
	margin-left: 20px;
	border: 3px solid black;
}

a:link { color: #ef381f; }
a:visited { color: #ef381f; }
a:hover { color: gold; }

.center{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 10%;
	text-align: cenetr;


}

table{
	text-align: center;
	border-width: 2px;
	border-style: solid;
	padding: 5px;
	margin: 5px;
}

.pic{
   	width: 20%;
	margin: 5px;
	text-align: center;
	display: block;


}

.center2{
    display: block;
	margin-left: auto;
	margin-right: auto;
	width: 55%;
	text-align: center;
	border: 3px solid black;
}